In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)

In [36]:
games_flat = pd.read_csv('games_flat_xml_2012-2018.csv', header =0, index_col = 0)
games_flat.date = pd.to_datetime(games_flat.date)
games_flat['Year_A'] = games_flat['date'].dt.year
games_flat['Month_A'] = games_flat['date'].dt.month
Tv_ratings = pd.read_csv('TV_Ratings_onesheet.csv',header = 0)
Tv_ratings.Date = pd.to_datetime(Tv_ratings.Date)
Tv_ratings['Year_V'] = Tv_ratings['Date'].dt.year
Tv_ratings['Month_V'] = Tv_ratings['Date'].dt.month
currentGames = [x.year > 2010 for x in Tv_ratings.Date]
Tv_ratings = Tv_ratings.loc[currentGames]

In [37]:
ratings_df = games_flat.merge(Tv_ratings,left_on='TeamIDsDate', right_on='TeamIDsDate',how='outer', copy = True)

In [38]:
relevant_list = ['homeid','homename','visid','visname','date','Year_A','Month_A','location','stadium','attend','postseason','leaguegame','neutralgame','nightgame','Matchup_Full_TeamNames','Date','Year_V','Month_V','GAME','Visitor Team','Home Team',
                 'VisTeamID','HomeTeamID','RATING','VIEWERS','Network']

In [39]:
ratings_df = ratings_df[relevant_list]

In [40]:
ratings_df.columns = ['HomeID_A','HomeName_A','VisitID_A',"VisitName_A",'Date_A','Year_A','Month_A','Location_A','Stadium_A','Attendance',
'Postseason_A','LeagueGame_A','NeutralGame_A','NightGame_A','Matchup_Full_TeamNames_A','Date_V','Year_V','Month_V', 'GAME_V','VisitName_V','HomeName_V','VisitID_V','HomeID_V','RATING_V','Viewership','Network_V']

In [41]:
teamNames_attendance = ratings_df['HomeName_A'].dropna().unique()
teamNamesDict_attendance = [{'label' : tn, 'value': tn} for tn in teamNames_attendance]

In [42]:
ratings_df['HomeName_A'].unique()

array(['Alabama', 'Penn State', 'Central Florida (UCF)', 'Iowa',
       'Georgia', 'Oklahoma State', 'Texas A&M', 'Michigan', 'Virginia',
       'Auburn', 'Vanderbilt', 'South Carolina', 'Florida State',
       'Louisville', 'Clemson', 'Missouri', 'Mississippi (Ole Miss)',
       'Mississippi State', 'Florida', 'Tennessee', 'Kentucky', 'LSU',
       'Arkansas', 'Purdue', 'Notre Dame', 'Colorado State',
       'Kansas State', 'Texas Tech', 'Oklahoma', 'Northwestern',
       'Connecticut', 'California', 'Louisiana Tech', 'Georgia Tech',
       'UCLA', 'Southern Miss', 'NC State', 'Middle Tennessee', 'TCU',
       'Virginia Tech', 'Brigham Young', 'Massachusetts',
       'Western Kentucky', 'North Carolina', 'Wisconsin', 'West Virginia',
       'Memphis', 'Houston', 'Syracuse', 'Arkansas State', 'Minnesota',
       'Texas', 'Southern Methodist', 'South Alabama', 'Toledo',
       'Rutgers', 'Indiana', 'Oregon', 'Miami (FL)', 'Wake Forest',
       'Tulane', 'Troy', nan], dtype=object)

In [43]:
ratings_df['HomeName_V'].unique()

array([nan, 'Georgia', 'Alabama', 'Florida State', 'Clemson', 'Missouri',
       'Mississippi (Ole Miss)', 'Mississippi State', 'Florida',
       'Tennessee', 'LSU', 'Texas A&M', 'Kentucky', 'Auburn',
       'Vanderbilt', 'Arkansas', 'South Carolina', 'California',
       'Georgia Tech', 'Louisville', 'BYU', 'TCU', 'North Carolina',
       'Wisconsin', 'Houston', 'Memphis', 'Syracuse',
       'Southern  Methodist', 'Kansas State', 'Texas Tech',
       'South Alabama', 'Toledo', 'Central Florida', 'Rutgers',
       'Massachusetts', 'Oregon', 'Miami (FL)', 'Western Kentucky',
       'Oklahoma State', 'Virginia Tech', 'Wake Forest', 'Louisiana Tech',
       'Fresno', 'Penn State', 'West Virginia'], dtype=object)

In [44]:
teamNames_attendance = ratings_df['HomeName_A'].unique()
teamNamesDict_attendance = [{'label' : tn, 'value': tn} for tn in teamNames_attendance]

In [45]:
teamNamesDict_attendance

[{'label': 'Alabama', 'value': 'Alabama'},
 {'label': 'Penn State', 'value': 'Penn State'},
 {'label': 'Central Florida (UCF)', 'value': 'Central Florida (UCF)'},
 {'label': 'Iowa', 'value': 'Iowa'},
 {'label': 'Georgia', 'value': 'Georgia'},
 {'label': 'Oklahoma State', 'value': 'Oklahoma State'},
 {'label': 'Texas A&M', 'value': 'Texas A&M'},
 {'label': 'Michigan', 'value': 'Michigan'},
 {'label': 'Virginia', 'value': 'Virginia'},
 {'label': 'Auburn', 'value': 'Auburn'},
 {'label': 'Vanderbilt', 'value': 'Vanderbilt'},
 {'label': 'South Carolina', 'value': 'South Carolina'},
 {'label': 'Florida State', 'value': 'Florida State'},
 {'label': 'Louisville', 'value': 'Louisville'},
 {'label': 'Clemson', 'value': 'Clemson'},
 {'label': 'Missouri', 'value': 'Missouri'},
 {'label': 'Mississippi (Ole Miss)', 'value': 'Mississippi (Ole Miss)'},
 {'label': 'Mississippi State', 'value': 'Mississippi State'},
 {'label': 'Florida', 'value': 'Florida'},
 {'label': 'Tennessee', 'value': 'Tennessee'},
 {'label': 'Kentucky', 'value': 'Kentucky'},
 {'label': 'LSU', 'value': 'LSU'},
 {'label': 'Arkansas', 'value': 'Arkansas'},
 {'label': 'Purdue', 'value': 'Purdue'},
 {'label': 'Notre Dame', 'value': 'Notre Dame'},
 {'label': 'Colorado State', 'value': 'Colorado State'},
 {'label': 'Kansas State', 'value': 'Kansas State'},
 {'label': 'Texas Tech', 'value': 'Texas Tech'},
 {'label': 'Oklahoma', 'value': 'Oklahoma'},
 {'label': 'Northwestern', 'value': 'Northwestern'},
 {'label': 'Connecticut', 'value': 'Connecticut'},
 {'label': 'California', 'value': 'California'},
 {'label': 'Louisiana Tech', 'value': 'Louisiana Tech'},
 {'label': 'Georgia Tech', 'value': 'Georgia Tech'},
 {'label': 'UCLA', 'value': 'UCLA'},
 {'label': 'Southern Miss', 'value': 'Southern Miss'},
 {'label': 'NC State', 'value': 'NC State'},
 {'label': 'Middle Tennessee', 'value': 'Middle Tennessee'},
 {'label': 'TCU', 'value': 'TCU'},
 {'label': 'Virginia Tech', 'value': 'Virginia Tech'},
 {'label': 'Brigham Young', 'value': 'Brigham Young'},
 {'label': 'Massachusetts', 'value': 'Massachusetts'},
 {'label': 'Western Kentucky', 'value': 'Western Kentucky'},
 {'label': 'North Carolina', 'value': 'North Carolina'},
 {'label': 'Wisconsin', 'value': 'Wisconsin'},
 {'label': 'West Virginia', 'value': 'West Virginia'},
 {'label': 'Memphis', 'value': 'Memphis'},
 {'label': 'Houston', 'value': 'Houston'},
 {'label': 'Syracuse', 'value': 'Syracuse'},
 {'label': 'Arkansas State', 'value': 'Arkansas State'},
 {'label': 'Minnesota', 'value': 'Minnesota'},
 {'label': 'Texas', 'value': 'Texas'},
 {'label': 'Southern Methodist', 'value': 'Southern Methodist'},
 {'label': 'South Alabama', 'value': 'South Alabama'},
 {'label': 'Toledo', 'value': 'Toledo'},
 {'label': 'Rutgers', 'value': 'Rutgers'},
 {'label': 'Indiana', 'value': 'Indiana'},
 {'label': 'Oregon', 'value': 'Oregon'},
 {'label': 'Miami (FL)', 'value': 'Miami (FL)'},
 {'label': 'Wake Forest', 'value': 'Wake Forest'},
 {'label': 'Tulane', 'value': 'Tulane'},
 {'label': 'Troy', 'value': 'Troy'},
 {'label': nan, 'value': nan}]

In [46]:
ratings_df.head(5)

,HomeID_A,HomeName_A,VisitID_A,VisitName_A,Date_A,Year_A,Month_A,Location_A,Stadium_A,Attendance,Postseason_A,LeagueGame_A,NeutralGame_A,NightGame_A,Matchup_Full_TeamNames_A,Date_V,Year_V,Month_V,GAME_V,VisitName_V,HomeName_V,VisitID_V,HomeID_V,RATING_V,Viewership,Network_V
0,UA,Alabama,CU,Clemson,2019-01-07,2019.0,1.0,"Santa Clara, Calif.",Levi's Stadium,74814.0,Y,character(0),Y,Y,Clemson vs Alabama,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PSU,Penn State,UK,Kentucky,2019-01-01,2019.0,1.0,"Orlando, Fla.",CampingWorld Stadium,59167.0,Y,character(0),Y,character(0),Penn State vs Kentucky,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UCF,Central Florida (UCF),LSU,LSU,2019-01-01,2019.0,1.0,"Glendale, Ariz.",State Farm Stadium,57246.0,Y,character(0),Y,character(0),LSU vs Central Florida (UCF),NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IOWA,Iowa,MS,Mississippi State,2019-01-01,2019.0,1.0,"Tampa, Fla.",Raymond James,40518.0,Y,character(0),Y,character(0),Iowa vs Mississippi State,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UGA,Georgia,UTX,Texas,2019-01-01,2019.0,1.0,"New Orleans, La.",MB Superdome,71449.0,Y,character(0),Y,Y,Georgia vs Texas,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
ratings_df[ratings_df['HomeID_A'].notnull()]

,HomeID_A,HomeName_A,VisitID_A,VisitName_A,Date_A,Year_A,Month_A,Location_A,Stadium_A,Attendance,Postseason_A,LeagueGame_A,NeutralGame_A,NightGame_A,Matchup_Full_TeamNames_A,Date_V,Year_V,Month_V,GAME_V,VisitName_V,HomeName_V,VisitID_V,HomeID_V,RATING_V,Viewership,Network_V
0,UA,Alabama,CU,Clemson,2019-01-07,2019.0,1.0,"Santa Clara, Calif.",Levi's Stadium,74814.0,Y,character(0),Y,Y,Clemson vs Alabama,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PSU,Penn State,UK,Kentucky,2019-01-01,2019.0,1.0,"Orlando, Fla.",CampingWorld Stadium,59167.0,Y,character(0),Y,character(0),Penn State vs Kentucky,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UCF,Central Florida (UCF),LSU,LSU,2019-01-01,2019.0,1.0,"Glendale, Ariz.",State Farm Stadium,57246.0,Y,character(0),Y,character(0),LSU vs Central Florida (UCF),NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IOWA,Iowa,MS,Mississippi State,2019-01-01,2019.0,1.0,"Tampa, Fla.",Raymond James,40518.0,Y,character(0),Y,character(0),Iowa vs Mississippi State,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UGA,Georgia,UTX,Texas,2019-01-01,2019.0,1.0,"New Orleans, La.",MB Superdome,71449.0,Y,character(0),Y,Y,Georgia vs Texas,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,MIZZU,Missouri,SELAU,Southeastern Louisiana,2012-09-01,2012.0,9.0,"Columbia, Mo.",Faurot Field,62173.0,character(0),character(0),character(0),Y,Missouri vs Southeastern Louisiana,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
849,OM,Mississippi (Ole Miss),CNARK,Central Arkansas,2012-09-01,2012.0,9.0,"Oxford, Miss.",Vaught-Hemingway,50544.0,character(0),character(0),character(0),Y,Central Arkansas vs Mississippi (Ole Miss),NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,LSU,LSU,UNT,North Texas,2012-09-01,2012.0,9.0,"Baton Rouge, La.",Tiger Stadium,92059.0,character(0),character(0),character(0),Y,LSU vs North Texas,2012-09-01,2012.0,9.0,North Texas @ LSU,North Texas,LSU,UNT,LSU,0.4,446997.0,ESPNU
851,NCST,NC State,TENN,Tennessee,2012-08-31,2012.0,8.0,"Atlanta, Georgia",Georgia Dome,55529.0,character(0),character(0),Y,Y,NC State - North Carolina State vs Tennessee,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,VANDY,Vanderbilt,SCAR,South Carolina,2012-08-30,2012.0,8.0,"Nashville, Tenn.",Vanderbilt Stadium,38393.0,character(0),Y,character(0),Y,South Carolina vs Vanderbilt,2012-08-30,2012.0,8.0,USC @ VU,South Carolina,Vanderbilt,SCAR,VANDY,3.0,4128912.0,ESPN

In [50]:
ratings_df_year.isna().sum()

HomeID_A                     0
HomeName_A                   0
VisitID_A                    0
VisitName_A                  0
Date_A                       0
Year_A                       0
Month_A                      0
Location_A                   0
Stadium_A                    0
Attendance                   0
Postseason_A                 0
LeagueGame_A                 0
NeutralGame_A                0
NightGame_A                  0
Matchup_Full_TeamNames_A     0
Date_V                      52
Year_V                      52
Month_V                     52
GAME_V                      52
VisitName_V                 52
HomeName_V                  52
VisitID_V                   52
HomeID_V                    52
RATING_V                    52
Viewership                  52
Network_V                   52
dtype: int64

In [15]:
ratings_df.describe()

            Year_A   Attendance_A    RATING_V     VIEWERS_V
count   853.000000     853.000000  400.000000  4.780000e+02
mean   2015.073857   73463.432591    2.271675  3.351342e+06
std       2.001862   30898.121880    1.808805  2.879768e+06
min    2012.000000   13074.000000    0.000000  6.318600e+04
25%    2013.000000   56785.000000    1.000000  1.272334e+06
50%    2015.000000   74512.000000    1.900000  2.650507e+06
75%    2017.000000   92446.000000    3.000000  4.416250e+06
max    2019.000000  710004.000000   11.500000  2.001000e+07

In [52]:
avg_attendance = ratings_df.groupby(['HomeName_A'])['Attendance'].mean().reset_index()

In [55]:


avg_attendance.append({'HomeName_A' : "dolevu" , 'Attendance' : 1} , ignore_index=True)

          HomeName_A    Attendance
0            Alabama  95749.967742
1           Arkansas  64900.423077
2     Arkansas State  29143.000000
3             Auburn  84163.465517
4      Brigham Young  62184.000000
..               ...           ...
58       Wake Forest  26134.000000
59     West Virginia  55703.500000
60  Western Kentucky  35648.500000
61         Wisconsin  60923.000000
62            dolevu      1.000000

[63 rows x 2 columns]

In [190]:
games_flat['Month_A'] = games_flat['date'].dt.month

In [191]:
games_flat['Month_A']

Index
1      1
2      1
3      1
4      1
5      1
      ..
849    9
850    9
851    9
852    8
853    8
Name: Month_A, Length: 853, dtype: int64

In [198]:
games_flat[(games_flat['Year_A'] == 2013) & (games_flat['Month_A'] == 1 )]

,gameid&date,TeamIDsDate,Unnamed: 3,gameid,officials_ref,officials_ump,officials_lj,officials_line,officials_bj,officials_fj,officials_sj,officials_cj,officials_alt,homeid,homename,visid,visname,date,location,stadium,start_time,end_time,duration,attend,temp,wind,weather,postseason,leaguegame,neutralgame,nightgame,score_home,record_home,rank_home,penalties_no_home,penalties_yds_home,fumbles_no_home,fumbles_lost_home,rush_att_home,rush_yds_home,rush_gain_home,rush_loss_home,rush_td_home,rush_long_home,pass_comp_home,pass_att_home,pass_int_home,pass_yds_home,pass_td_home,pass_long_home,pass_sacks_home,pass_sackyds_home,score_vis,record_vis,rank_vis,penalties_no_vis,penalties_yds_vis,fumbles_no_vis,fumbles_lost_vis,rush_att_vis,rush_yds_vis,rush_gain_vis,rush_loss_vis,rush_td_vis,rush_long_vis,pass_comp_vis,pass_att_vis,pass_int_vis,pass_yds_vis,pass_td_vis,pass_long_vis,pass_sacks_vis,pass_sackyds_vis,Matchup,MatchupTeam1,MatchupTeam2,HomeWeightedRank,VisitorWeightedRank,MatchupWeightedRank,SEC EAST,SEC West,SEC INTERDIVISIONAL,Matchup_Full_TeamNames,Rank Home - Missing Data List,Rank Vis - Missing Data list,Year_A,Month_A
Index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
740,"01-07-2013c(""1230440"", ""BCS2013"")",UA@ND01-07-2013,114,"c(""1230440"", ""BCS2013"")",L. Clark,F. Villar,R Campbell,P. Turner,B. Robinson,K. Kieser,A. Santi,character(0),character(0),ND,Notre Dame,UA,Alabama,2013-01-07,"Miami Gardens, Fla.",Sun Life Stadium,8:30 PM,11:40,3:10,80120,73 deg,NE 5mph,Mostly Cloudy 81%rh,Y,character(0),Y,Y,14,13-1,1,3,35,1,0,19,32,56,24,1,20,21,36,1,270,1,31,2,16,42,13-1,2,4,40,0,0,45,265,272,7,2,20,20,28,0,264,4,34,0,0,ND-UA,ND,UA,1,2,3,0,0,0,Notre Dame vs Alabama,1,2,2013,1
741,01-01-2013SC13_UM,SCAR@MICH01-01-2013,113,SC13_UM,Jeff Maconaghy,Greg Brenner,Kevin Codey,Chad Lorance,Jonah Monroe,Tony Tarantini,Mark Windham,character(0),character(0),MICH,Michigan,SCAR,South Carolina,2013-01-01,"Tampa, Fla.",Raymond James,1:00 PM,4:45 PM,3:45,54527,75,SW @ 12,Clear and Sunny,Y,character(0),Y,character(0),28,5-Aug,18,4,55,3,1,45,141,186,45,0,19,18,37,1,214,3,26,3,22,33,2-Nov,10,5,44,1,1,17,85,109,24,0,64,25,36,0,341,4,70,3,18,MICH-SCAR,MICH,SCAR,18,10,28,0,0,0,Michigan vs South Carolina,18,10,2013,1

In [199]:
metrics =[ {'label' : 'Attendance', 'value' : 'Attendance'},
         {'label' : 'Viewership', 'value' : 'Viewership'}]

In [200]:
metrics

[{'label': 'Attendance', 'value': 'Attendance'},
 {'label': 'Viewership', 'value': 'Viewership'}]

In [57]:
ratings_df.dropna()

,HomeID_A,HomeName_A,VisitID_A,VisitName_A,Date_A,Year_A,Month_A,Location_A,Stadium_A,Attendance,Postseason_A,LeagueGame_A,NeutralGame_A,NightGame_A,Matchup_Full_TeamNames_A,Date_V,Year_V,Month_V,GAME_V,VisitName_V,HomeName_V,VisitID_V,HomeID_V,RATING_V,Viewership,Network_V
14,UA,Alabama,AU,Auburn,2018-11-24,2018.0,11.0,"Tuscaloosa, Ala.",Bryant-Denny Stadium,101821.0,character(0),Y,character(0),character(0),Auburn vs Alabama,2018-11-24,2018.0,11.0,Auburn @ Alabama,Auburn,Alabama,AU,UA,5.1,9130000.0,CBS
21,MIZZU,Missouri,AR,Arkansas,2018-11-23,2018.0,11.0,"Columbia, Mo.",Memorial Stadium,52482.0,character(0),Y,character(0),character(0),Arkansas vs Missouri,2018-11-23,2018.0,11.0,Arkansas @ Missouri,Arkansas,Missouri,AR,MIZZU,1.2,1860000.0,CBS
28,TENN,Tennessee,MIZZU,Missouri,2018-11-17,2018.0,11.0,"Knoxville, Tenn.",Neyland Stadium,88224.0,character(0),Y,character(0),character(0),Missouri vs Tennessee,2018-11-17,2018.0,11.0,Missouri @ Tennessee,Missouri,Tennessee,MIZZU,TENN,1.3,2030000.0,CBS
37,UA,Alabama,MS,Mississippi State,2018-11-10,2018.0,11.0,"Tuscaloosa, Ala.",Bryant-Denny Stadium,101821.0,character(0),Y,character(0),character(0),Mississippi State vs Alabama,2018-11-10,2018.0,11.0,Mississippi State @ Alabama,Mississippi State,Alabama,MS,UA,3.3,5460000.0,CBS
38,TAMU,Texas A&M,OM,Mississippi (Ole Miss),2018-11-10,2018.0,11.0,"College Station, TX",Kyle Field,102618.0,character(0),Y,character(0),character(0),Mississippi (Ole Miss) vs Texas A&M,2018-11-10,2018.0,11.0,Ole Miss @ Texas A&M,Mississippi (Ole Miss),Texas A&M,OM,TAMU,1.4,2150000.0,CBS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,UF,Florida,BGSU,Bowling Green,2012-09-01,2012.0,9.0,"Gainesville, Fla.",Ben Hill Griffin,84704.0,character(0),character(0),character(0),character(0),Bowling Green vs Florida,2012-09-01,2012.0,9.0,Bowling Green @ FLA,Bowling Green,Florida,BGSU,UF,2.1,2757680.0,ESPN
844,AU,Auburn,CU,Clemson,2012-09-01,2012.0,9.0,"Atlanta, Georgia",Georgia Dome,75211.0,character(0),character(0),Y,Y,Auburn vs Clemson,2012-09-01,2012.0,9.0,Clemson vs. Auburn,Clemson,Auburn,CU,AU,2.5,3581943.0,ESPN
847,UA,Alabama,MICH,Michigan,2012-09-01,2012.0,9.0,"Arlington, Texas",Cowboys Stadium,90413.0,character(0),character(0),Y,Y,Michigan vs Alabama,2012-09-01,2012.0,9.0,Michigan vs. ALA (ABC),Michigan,Alabama,MICH,UA,4.8,7917994.0,ABC
850,LSU,LSU,UNT,North Texas,2012-09-01,2012.0,9.0,"Baton Rouge, La.",Tiger Stadium,92059.0,character(0),character(0),character(0),Y,LSU vs North Texas,2012-09-01,2012.0,9.0,North Texas @ LSU,North Texas,LSU,UNT,LSU,0.4,446997.0,ESPNU
852,VANDY,Vanderbilt,SCAR,South Carolina,2012-08-30,2012.0,8.0,"Nashville, Tenn.",Vanderbilt Stadium,38393.0,character(0),Y,character(0),Y,South Carolina vs Vanderbilt,2012-08-30,2012.0,8.0,USC @ VU,South Carolina,Vanderbilt,SCAR,VANDY,3.0,4128912.0,ESPN

In [58]:
ratings_df

,HomeID_A,HomeName_A,VisitID_A,VisitName_A,Date_A,Year_A,Month_A,Location_A,Stadium_A,Attendance,Postseason_A,LeagueGame_A,NeutralGame_A,NightGame_A,Matchup_Full_TeamNames_A,Date_V,Year_V,Month_V,GAME_V,VisitName_V,HomeName_V,VisitID_V,HomeID_V,RATING_V,Viewership,Network_V
0,UA,Alabama,CU,Clemson,2019-01-07,2019.0,1.0,"Santa Clara, Calif.",Levi's Stadium,74814.0,Y,character(0),Y,Y,Clemson vs Alabama,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PSU,Penn State,UK,Kentucky,2019-01-01,2019.0,1.0,"Orlando, Fla.",CampingWorld Stadium,59167.0,Y,character(0),Y,character(0),Penn State vs Kentucky,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UCF,Central Florida (UCF),LSU,LSU,2019-01-01,2019.0,1.0,"Glendale, Ariz.",State Farm Stadium,57246.0,Y,character(0),Y,character(0),LSU vs Central Florida (UCF),NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IOWA,Iowa,MS,Mississippi State,2019-01-01,2019.0,1.0,"Tampa, Fla.",Raymond James,40518.0,Y,character(0),Y,character(0),Iowa vs Mississippi State,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UGA,Georgia,UTX,Texas,2019-01-01,2019.0,1.0,"New Orleans, La.",MB Superdome,71449.0,Y,character(0),Y,Y,Georgia vs Texas,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01,2017.0,9.0,Ole Miss @ Texas Tech [ESPN],Mississippi (Ole Miss),Texas Tech,OM,TTU,NaN,1928675.0,ESPN
942,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-22,2011.0,10.0,Army @ VU,Army,Vanderbilt,ARMY,VANDY,0.2,174247.0,ESPNU
943,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-11-26,2011.0,11.0,VU @ Wake Forest,Vanderbilt,Wake Forest,VANDY,WF,0.1,100493.0,ESPNU
944,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-17,2011.0,9.0,LSU @ WVU,LSU,West Virginia,LSU,WVU,4.1,6502638.0,ESPN
945,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-01,2011.0,9.0,UK @ Western KY,Kentucky,Western Kentucky,UK,WKU,0.6,639792.0,ESPNU

In [69]:
hoverData={'points': [{'customdata' : "Tennessee"}]}

In [70]:
hoverData['points'][0]

{'customdata': 'Tennessee'}

In [71]:
hoverData['points'][0]['customdata']

'Tennessee'

In [82]:
ratings_df_year = ratings_df[((ratings_df['Year_A'] == 2018) & (ratings_df['Month_A'] != 1))| ((ratings_df['Year_A'] == (2018 + 1)) & (ratings_df['Month_A'] == 1 ))]
avg_attendance_year = ratings_df_year.groupby(['HomeName_A','Year_A'])['Attendance'].mean().reset_index()
avg_viewership_year = ratings_df_year.groupby(['HomeName_V','Year_V'])['Viewership'].mean().reset_index()
attendance_viewership = avg_attendance_year.merge(avg_viewership_year,left_on='HomeName_A', right_on='HomeName_V',how='inner')

In [103]:
avg_attendance_year_home = ratings_df_year.groupby(['HomeName_A'])['Attendance'].agg(['mean', 
                         'size']).reset_index()
avg_viewership_year_home = ratings_df_year.groupby(['HomeName_V'])['Viewership'].agg(['mean', 
                         'size']).reset_index()
avg_attendance_year_away = ratings_df_year.groupby(['VisitName_A'])['Attendance'].agg(['mean', 
                         'size']).reset_index()
avg_viewership_year_away = ratings_df_year.groupby(['VisitName_V'])['Viewership'].agg(['mean', 
                         'size']).reset_index()
attendance = avg_attendance_year_home.merge(avg_attendance_year_away,left_on='HomeName_A', right_on='VisitName_A',how='inner')
viewership = avg_viewership_year_home.merge(avg_viewership_year_away,left_on='HomeName_V', right_on='VisitName_V',how='inner')

attendance_viewership = attendance.merge(viewership, left_on='HomeName_A', right_on='HomeName_V', how = 'inner')

attendance_viewership['Attendance'] = (attendance_viewership['mean_x_x'] * attendance_viewership['size_x_x'] + attendance_viewership['mean_y_x'] * attendance_viewership['size_y_x'])/ (attendance_viewership['size_x_x'] + attendance_viewership['size_y_x'])
attendance_viewership['Viewership'] = (attendance_viewership['mean_x_y'] * attendance_viewership['size_x_y'] + attendance_viewership['mean_y_y'] * attendance_viewership['size_y_y'])/ (attendance_viewership['size_x_y'] + attendance_viewership['size_y_y'])

In [120]:
year = {int(year): str(int(year)) for year in ratings_df['Year_A'].dropna().unique()}

In [121]:
year

{2019: '2019',
 2018: '2018',
 2017: '2017',
 2016: '2016',
 2015: '2015',
 2014: '2014',
 2013: '2013',
 2012: '2012'}

In [86]:
avg_attendance_home

           HomeName_A  Year_A     Attendance
0             Alabama  2012.0  100308.125000
1             Alabama  2013.0  101505.428571
2             Alabama  2014.0   94634.555556
3             Alabama  2015.0   92955.900000
4             Alabama  2016.0   96678.000000
..                ...     ...            ...
187     West Virginia  2016.0   60125.000000
188  Western Kentucky  2013.0   47623.000000
189  Western Kentucky  2016.0   23674.000000
190         Wisconsin  2015.0   44023.000000
191         Wisconsin  2016.0   77823.000000

[192 rows x 3 columns]

In [87]:
avg_attendance_away

    VisitName_A  Year_A     Attendance
0         Akron  2012.0   81719.000000
1         Akron  2018.0   53420.000000
2       Alabama  2012.0  211214.800000
3       Alabama  2013.0   75894.166667
4       Alabama  2014.0   82493.000000
..          ...     ...            ...
409   Wisconsin  2015.0   64279.000000
410     Wofford  2012.0   79982.000000
411     Wofford  2016.0   64232.000000
412     Wofford  2017.0   74742.000000
413     Wyoming  2018.0   50820.000000

[414 rows x 3 columns]

In [88]:
avg_attendance_home.merge(avg_attendance_away, left_on=['HomeName_A','Year_A'], right_on=['VisitName_A','Year_A'],how='inner')

           HomeName_A  Year_A   Attendance_x       VisitName_A   Attendance_y
0             Alabama  2012.0  100308.125000           Alabama  211214.800000
1             Alabama  2013.0  101505.428571           Alabama   75894.166667
2             Alabama  2014.0   94634.555556           Alabama   82493.000000
3             Alabama  2015.0   92955.900000           Alabama   87091.250000
4             Alabama  2016.0   96678.000000           Alabama   82801.333333
..                ...     ...            ...               ...            ...
121     Virginia Tech  2016.0   46902.000000     Virginia Tech  156990.000000
122     West Virginia  2014.0   51282.000000     West Virginia   70502.000000
123  Western Kentucky  2013.0   47623.000000  Western Kentucky   86783.000000
124  Western Kentucky  2016.0   23674.000000  Western Kentucky  101821.000000
125         Wisconsin  2015.0   44023.000000         Wisconsin   64279.000000

[126 rows x 5 columns]